* {
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 10px;
}

.link-btn {
    border: none;
    padding: 2px;
    background: #fff;
    color: blue;
    cursor: pointer;
}

.link-btn:active {
    color: #EE7600;
}

.icon-btn {
    display: inline-block;
    height: 25px;
    width: 25px;
    margin-right: 6px;
    vertical-align: top;
    overflow: hidden;
    border: none;
    border-radius: 1px;
    color: white;
    background-color: #fff;
    cursor: pointer;
    outline: none;
}

.icon-btn:hover {
    background-color: #DCDCDC;
}

.icon-btn:active {
    background-color: #f6f6f6;
}

.clearfix {
    clear: both;
}

.sdk-tool-mask {
    width: 100%;
    height: 520px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #eee;
    opacity: 0.7;
}

.sdk-tool-waiting {
    width: 100%;
    height: 300px;
    background: url(../images/wait.gif) center center no-repeat scroll transparent;
}

.sdk-tool-tips {
    display: none;
    position: fixed;
    top: 5px;
    height: 19px;
    width: 600px;
    padding: 5px 0;
    font-size: 16px;
    text-align: center;
    border: 1px solid white;
    border-radius: 2px;
    box-shadow: 0 0 3px 0 #ccc;
    opacity: 0.8;
    z-index: 9999999;
}

.sdk-tool-container {
    width: 600px;
    min-height: 300px;
    max-height: 600px;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 12px;
}

.sdk-not-found {
    width: 100%;
    padding: 140px 0;
    text-align: center;
    color: #999;
    font-size: 20px;
    display: none;
    box-shadow: 0 0 80px rgba(128, 128, 128, 0.5) inset;
}

.sdk-update-tip {
    width: 100%;
    padding: 140px 0;
    color: #999;
    font-size: 20px;
    display: none;
}

.sdk-fieldset {
    padding: 0;
    margin: 0;
    margin-bottom: 6px;
    border: none;
}

.sdk-separate {
    height: 1px;
    width: 100%;
    margin-top: 14px;
    border-top: 1px dashed #cccccc;
}

.fieldset-last {
    margin-bottom: 0;
}

.fieldset-last .sdk-separate {
    margin-top: 0;
    border: none;
}

.sdk-tool-container legend {
    width: 100%;
    line-height: 22px;
    background-color: #fff;
    color: #000;
    font-size: 14px;
    font-weight: bold;
}

.sdk-tool-container legend a,
.sdk-tool-container legend a:visited {
    color: #4876FF;
    text-decoration: none;
}

.sdk-tool-container pre {
    margin: 0;
    padding: 0;
}

.sdk-set-value-block p {
    display: inline-block;
    line-height: 25px;
    height: 25px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.sdk-toggle-get-and-set {
    float: right;
    margin-right: 0;
    background: url(../images/toggle-up.png) no-repeat scroll 0 0;
    -webkit-transition: -webkit-transform .3s;
}

.sdk-fieldset-toggle .sdk-toggle-get-and-set {
    -webkit-transform: rotate(180deg);
}

.sdk-get-value-arrow,
.sdk-get-value,
.sdk-set-value,
.sdk-toggle-value-and-spec {
    -webkit-transition: all .3s;
}

.sdk-fieldset-toggle .sdk-get-value-arrow {
    display: inline-block;
    -webkit-transform: rotate(-90deg);
}

.sdk-editor-menu {
     -webkit-box-sizing: border-box;
    width: 100%;
    height: 35px;
    padding: 5px 8px;
    background-color: #eee;
}

.sdk-get-format,
.sdk-set-format {
    background: url(../images/format.png) no-repeat scroll 0 0;
}

.sdk-get-compact,
.sdk-set-compact {
    background: url(../images/compact.png) no-repeat scroll 0 0;
}

.sdk-toggle-value-and-spec {
    background: url(../images/spec2value.png) no-repeat scroll 0 0;
}

.sdk-view-value {
    background-position: 0 -25px;
}

.sdk-copy-value {
    background: url(../images/copy.png) no-repeat scroll 0 0;
}

.sdk-paste-value {
    background: url(../images/paste.png) no-repeat scroll 0 0;
}

.sdk-set-value-btn {
    background: url(../images/input.png) no-repeat scroll 0 0;
}

.sdk-set-valid-btn {
    background: url(../images/valid.png) no-repeat scroll 0 0;
}

.sdk-set-invalid-btn {
    background: url(../images/invalid.png) no-repeat scroll 0 0;
}

.sdk-get-value {
    position: relative;
    height: 350px;
}

.sdk-get-value .ace_cursor-layer .ace_cursor {
    color: #666;
}

.sdk-fieldset-toggle .sdk-get-value {
    height: 40px;
}

.sdk-raw-value {
    position: absolute;
    left:-999px;
}

.sdk-set-value {
    position: relative;
    width: 100%;
    height: 60px;
    padding: 0;
    margin: 0;
}

.sdk-fieldset-toggle .sdk-set-value {
    height: 370px;
}

.sdk-set-value-btn {
    float: right;
    margin-right: 0;
}

.sdk-icon-not-allowed {
    opacity: 0.4;
    cursor: not-allowed;
    background-color: #ddd;
}

.sdk-icon-not-allowed:hover,
.sdk-icon-not-allowed:active {
    background-color: #ddd;
}
