* {
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 10px;
}

.link-btn {
    border: none;
    padding: 2px;
    background: #fff;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    outline: none;
}

.link-btn:active {
    color: #EE7600;
}

.ocean-btn {
    text-align: center;
    vertical-align: top;
    overflow: hidden;
    border: 1px solid #418ada;
    border-radius: 2px 2px 2px 2px;
    color: white;
    background-color: #61a6f5;
    background: -webkit-linear-gradient(top, #61a6f5, #4090ec);
    cursor: pointer;
    outline: none;
}

.ocean-btn:hover {
    border: 1px solid #3467b7;
}

.ocean-btn:active {
    background: -webkit-linear-gradient(top, #4090ec, #61a6f5);
}

.clearfix {
    clear: both;
}

.sdk-tool-mask {
    width: 100%;
    height: 520px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #eee;
    opacity: 0.7;
}

.sdk-tool-waiting {
    width: 100%;
    height: 300px;
    background: url(../images/wait.gif) center center no-repeat scroll transparent;
}

.sdk-tool-tips {
    display: none;
    position: fixed;
    top: 5px;
    height: 19px;
    width: 500px;
    padding: 5px 0;
    font-size: 16px;
    text-align: center;
    border: 1px solid white;
    border-radius: 2px;
    box-shadow: 0 0 3px 0 #ccc;
    opacity: 0.8;
}

.sdk-tool-container {
    width: 500px;
    min-height: 300px;
    max-height: 520px;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 12px;
}

.sdk-tool-main {
    padding-top: 10px;
}

.sdk-not-found {
    width: 100%;
    padding: 140px 0;
    text-align: center;
    color: #999;
    font-size: 20px;
    display: none;
    box-shadow: 0 0 80px rgba(128, 128, 128, 0.5) inset;
}

.sdk-update-tip {
    width: 100%;
    padding: 140px 0;
    color: #999;
    font-size: 20px;
    display: none;
}

.sdk-tool-container fieldset {
    padding: 0;
    border: none;
    border-top: 1px dashed #bbb;
}

.sdk-fieldset {
    margin-bottom: 20px;
}

.sdk-fieldset-last {
    margin-bottom: 0;
}

.sdk-tool-container legend {
    margin-left: 20px;
    color: #000;
    font-size: 14px;
    font-weight: bold;
}

.sdk-tool-container pre {
    margin: 0;
    padding: 0;
}

.sdk-set-value-block p {
    display: inline-block;
    line-height: 25px;
    height: 25px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.sdk-copy-get-value,
.sdk-toggle-get-value {
    float: right;
    padding: 0;
    margin: -3px 3px 0 8px;
}

.sdk-get-value-arrow,
.sdk-get-value,
.sdk-set-value {
    -webkit-transition: all .5s;
}

.sdk-fieldset-toggle .sdk-get-value-arrow {
    display: inline-block;
    -webkit-transform: rotate(-90deg);
}

.sdk-get-value {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: auto;
    background-color: #eee;
}

.sdk-fieldset-toggle .sdk-get-value {
    max-height: 50px;
}

.sdk-random-value {
    float: right;
}

.sdk-raw-value {
    position: absolute;
    top:-999px;
    left:-999px;
}

.sdk-set-value {
    width: 100%;
    height: 50px;
    padding: 0;
    margin: 0;
    resize: none;
}

.sdk-fieldset-toggle .sdk-set-value {
    height: 300px;
}

.sdk-set-value-btn {
    height: 23px;
    width: 110px;
    line-height: 21px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 12px;
}
